{% extends "store/base.html" %}
{% load static %}

{% block title %}Home | CasaNova{% endblock %}

{% block content %}

    <!-- Start Hero Section -->
    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>Modern Interior <span class="d-block">Design Studio</span></h1>
                        <p class="mb-4">Discover stylish furniture made from premium materials, designed to elevate your space with comfort and elegance.</p>
                        <p>
                            <a href="{% url 'shop' %}" class="btn btn-secondary me-2">Shop Now</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="hero-img-wrap">
                        <img src="{% static 'images/couch.png' %}" class="img-fluid" alt="Couch">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->
    {% include "store/partials/product_section.html" %}
    {% include "store/partials/why_choose_us.html" %}
    {% include "store/partials/we_help.html" %}
    {% include "store/partials/popular_product.html" %}
    {% include "store/partials/testimonials.html" %}
    {% include "store/partials/blog_section.html" %}
    {% include "store/partials/footer.html" %}

{% endblock %}
